## Carregando os Dados

In [1]:
import pandas as pd
import matplotlib as plt

urlDados = 'https://raw.githubusercontent.com/elasComputacao/raio-x-dados/main/data/dados-brutos/historico_alunos_raiox.csv'

dados = pd.read_csv(urlDados)

In [2]:
dados.shape

(150703, 34)

In [3]:
dados.head()

,id,codigo_curriculo,codigo_ingresso,periodo_ingresso,forma_ingresso,codigo_evasao,forma_evasao,periodo_evasao,evadiu_periodo,forma_saida,...,codigo_tipo_matricula,tipo_matricula,codigo_situacao,situacao,media_final,nome_disciplina,numero_creditos,carga_horaria,nome_setor,periodo_relativo
0,L342881,1979,1,1983.1,VESTIBULAR,1,GRADUADO,1987.2,10.0,Graduado,...,1.0,Normal,3.0,Aprovado,7.6,ALGEBRA VETORIAL E GEOMETRIA ANALÍTICA,4.0,60.0,UNID. ACAD. DE MATEMÁTICA,2.0
1,L342881,1979,1,1983.1,VESTIBULAR,1,GRADUADO,1987.2,10.0,Graduado,...,1.0,Normal,3.0,Aprovado,7.8,ECONOMIA,4.0,60.0,UNID. ACAD. DE ECONOMIA E FINANCAS,4.0
2,L342881,1979,1,1983.1,VESTIBULAR,1,GRADUADO,1987.2,10.0,Graduado,...,1.0,Normal,3.0,Aprovado,7.7,SOCIOLOGIA INDUSTRIAL I,3.0,45.0,UNID. ACAD. DE SOCIOLOGIA E ANTROPOLOGIA,7.0
3,L342881,1979,1,1983.1,VESTIBULAR,1,GRADUADO,1987.2,10.0,Graduado,...,1.0,Normal,2.0,Trancado,NaN,INTRODUÇÃO À PSICOLOGIA,4.0,60.0,UNID. ACAD. DE EDUCAÇÃO,1.0
4,L342881,1979,1,1983.1,VESTIBULAR,1,GRADUADO,1987.2,10.0,Graduado,...,1.0,Normal,3.0,Aprovado,9.1,INTRODUÇÃO À PSICOLOGIA,4.0,60.0,UNID. ACAD. DE EDUCAÇÃO,6.0

## Análise Exploratória

In [4]:
#colunas do df
dados.columns

Index(['id', 'codigo_curriculo', 'codigo_ingresso', 'periodo_ingresso',
       'forma_ingresso', 'codigo_evasao', 'forma_evasao', 'periodo_evasao',
       'evadiu_periodo', 'forma_saida', 'acao_afirmativa',
       'tipo_reserva_vagas', 'forma_reserva_vagas', 'sexo', 'codigo_cor',
       'nome_cor', 'idade_ingresso', 'idade_evasao', 'tipo_ensino_medio',
       'ensino_medio', 'apv_media_geral', 'codigo_disciplina',
       'periodo_matricula', 'turma', 'codigo_tipo_matricula', 'tipo_matricula',
       'codigo_situacao', 'situacao', 'media_final', 'nome_disciplina',
       'numero_creditos', 'carga_horaria', 'nome_setor', 'periodo_relativo'],
      dtype='object')

In [6]:
#verificando tipo de dado de cada coluna

dados.dtypes

id                        object
codigo_curriculo           int64
codigo_ingresso            int64
periodo_ingresso         float64
forma_ingresso            object
codigo_evasao              int64
forma_evasao              object
periodo_evasao           float64
evadiu_periodo           float64
forma_saida               object
acao_afirmativa           object
tipo_reserva_vagas         int64
forma_reserva_vagas       object
sexo                      object
codigo_cor                 int64
nome_cor                  object
idade_ingresso             int64
idade_evasao             float64
tipo_ensino_medio        float64
ensino_medio              object
apv_media_geral          float64
codigo_disciplina        float64
periodo_matricula        float64
turma                    float64
codigo_tipo_matricula    float64
tipo_matricula            object
codigo_situacao          float64
situacao                  object
media_final              float64
nome_disciplina           object
numero_creditos          float64
carga_horaria            float64
nome_setor                object
periodo_relativo         float64
dtype: object

In [7]:
#resumo estatistico da coluna com o valor de venda
dados[['media_final', 'apv_media_geral']].describe()

         media_final  apv_media_geral
count  131493.000000    145703.000000
mean        6.712909       628.126581
std         2.438837        68.284456
min         0.000000         0.000000
25%         5.600000       596.400000
50%         7.300000       627.700000
75%         8.400000       662.300000
max        10.000000       909.000000

In [8]:
#verificando ocorrencia de dados duplicados
dados[dados.duplicated()]

Empty DataFrame
Columns: [id, codigo_curriculo, codigo_ingresso, periodo_ingresso, forma_ingresso, codigo_evasao, forma_evasao, periodo_evasao, evadiu_periodo, forma_saida, acao_afirmativa, tipo_reserva_vagas, forma_reserva_vagas, sexo, codigo_cor, nome_cor, idade_ingresso, idade_evasao, tipo_ensino_medio, ensino_medio, apv_media_geral, codigo_disciplina, periodo_matricula, turma, codigo_tipo_matricula, tipo_matricula, codigo_situacao, situacao, media_final, nome_disciplina, numero_creditos, carga_horaria, nome_setor, periodo_relativo]
Index: []

[0 rows x 34 columns]

In [9]:
#verificando se há valores ausentes
dados.isnull().sum()

id                           0
codigo_curriculo             0
codigo_ingresso              0
periodo_ingresso             0
forma_ingresso               0
codigo_evasao                0
forma_evasao                 0
periodo_evasao               0
evadiu_periodo           23938
forma_saida                  0
acao_afirmativa              0
tipo_reserva_vagas           0
forma_reserva_vagas          0
sexo                         0
codigo_cor                   0
nome_cor                     0
idade_ingresso               0
idade_evasao             23851
tipo_ensino_medio        82711
ensino_medio                 0
apv_media_geral           5000
codigo_disciplina           53
periodo_matricula           53
turma                       53
codigo_tipo_matricula       53
tipo_matricula              53
codigo_situacao             53
situacao                    53
media_final              19210
nome_disciplina             53
numero_creditos             53
carga_horaria               53
nome_setor                  53
periodo_relativo           598
dtype: int64

### Filtragem para taxa de aprovação nas disciplinas Optativas Gerais

Cadeiras optativas gerais de acordo com a ementa disponivel em https://www.computacao.ufcg.edu.br/graduacao/plano-de-curso

* FÍSICA GERAL I
* FÍSICA GERAL II
* FÍSICA GERAL III,
* FÍSICA GERAL IV
* ÁLGEBRA VETORIAL E GEOMETRIA ANALÍTICA
* CÁLCULO DIFERENCIAL E INTEGRAL III
* ADMINISTRAÇÃO E EMPREENDEDORISMO
* ECONOMIA, DIREITO E CIDADANIA
* INGLÊS
* LÍNGUA PORTUGUESA
* LIBRAS
* INFORMÁTICA E SOCIEDADE

Criando uma lista com o nome de todas as optativas

In [42]:
optativas = ['FÍSICA GERAL I', 'FÍSICA GERAL II', 'FÍSICA GERAL III', 'FÍSICA GERAL IV', 'ALGEBRA VETORIAL E GEOMETRIA ANALÍTICA', 'CALCULO DIFERENCIAL E INTEGRAL III', 'ADMINISTRACAO E EMPREENDEDORISMO', 'ECONOMIA', 'DIREITO E CIDADANIA', 'INGLÊS', 'LINGUA PORTUGUESA', 'LIBRAS', 'INFORMÁTICA E SOCIEDADE']

df_optativas = dados[dados['nome_disciplina'].isin(optativas)]

selecionando apenas pelas nome_disciplina e a situacao

In [53]:
df_aprovacao = df_optativas[['nome_disciplina', 'situacao']]
df_aprovacao

                               nome_disciplina  situacao
0       ALGEBRA VETORIAL E GEOMETRIA ANALÍTICA  Aprovado
1                                     ECONOMIA  Aprovado
7                            LINGUA PORTUGUESA  Aprovado
60      ALGEBRA VETORIAL E GEOMETRIA ANALÍTICA  Aprovado
61                                    ECONOMIA  Aprovado
...                                        ...       ...
150641        ADMINISTRACAO E EMPREENDEDORISMO  Aprovado
150644  ALGEBRA VETORIAL E GEOMETRIA ANALÍTICA  Aprovado
150649                     DIREITO E CIDADANIA  Em Curso
150674                        FÍSICA GERAL III  Aprovado
150677                       LINGUA PORTUGUESA  Aprovado

[15057 rows x 2 columns]

In [58]:
df_grouped = df_aprovacao.groupby('nome_disciplina')['situacao'].value_counts()
df_grouped['nome_disciplina'].unique()

KeyError: 'nome_disciplina'